
	<!-- [ navigation menu ] start -->
	<nav class="pcoded-navbar menupos-fixed menu-light ">
		<div class="navbar-wrapper  ">
			<div class="navbar-content scroll-div " >
				<ul class="nav pcoded-inner-navbar ">
					<li class="nav-item pcoded-menu-caption">
						<label></label>
					</li>
					<li class="nav-item">
					    <a href="/" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
					</li>
					<li class="nav-item pcoded-hasmenu">
					    <a href="#!" class="nav-link " ><span class="pcoded-micon"><i class="feather icon-layout"></i></span><span class="pcoded-mtext">Social Accounts</span></a>
					    <ul class="pcoded-submenu">
					        <li><a href="/face_credentails">Facebook</a></li>
					        <li><a href="/instagram_credentails">Instagram</a></li>
							<li><a href="/google_my_details">Google My Bussiness</a></li>
							<li><a href="/google_analytics">Goolgle Analytics</a></li>
							<li><a href="/ads_words_credentails">Ads Words</a></li>
					    </ul>
					</li>
					
					<li class="nav-item pcoded-hasmenu">
					    <a href="#!" class="nav-link " ><span class="pcoded-micon"><i class="feather icon-layout"></i></span><span class="pcoded-mtext">Convergance</span></a>
					    <ul class="pcoded-submenu">
					        <li><a href="#">Leads</a></li>
					        <li><a href="#">AdSet</a></li>
							<li><a href="#">Campagins Insight</a></li>
							<li><a href="#">Page Insights</a></li>
							<li><a href="#">Impressions</a></li>
							<li><a href="/seo.html">SEO</a></li>
					    </ul>
					</li>
					<li class="nav-item pcoded-hasmenu">
					    <a href="#!" class="nav-link " ><span class="pcoded-micon"><i class="feather icon-layout"></i></span><span class="pcoded-mtext">Facebook</span></a>
					    <ul class="pcoded-submenu">
					        <li><a href="/facebook_campagins">Facebook Campagins</a></li>
					        <li><a href="/instagram_credentails">Instagram</a></li>
							<li><a href="/google_my_details">Google My Bussiness</a></li>
							<li><a href="/google_analytics">Goolgle Analytics</a></li>
							<li><a href="/ads_words_credentails">Ads Words</a></li>
					    </ul>
					</li>
					<li class="nav-item pcoded-menu-caption">
						<label>Chart & Maps</label>
					</li>
					<li class="nav-item">
					    <a href="/chart-apex.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span class="pcoded-mtext">Chart</span></a>
					</li>
					<li class="nav-item">
					    <a href="/map-google.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-map"></i></span><span class="pcoded-mtext">Maps</span></a>
					</li>
					<li class="nav-item">
					    <a href="/profile.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-map"></i></span><span class="pcoded-mtext">Profile</span></a>
					</li>
					
					<li class="nav-item pcoded-hasmenu">
					    <a href="#!" class="nav-link " ><span class="pcoded-micon"><i class="feather icon-layout"></i></span><span class="pcoded-mtext">Mailbox</span></a>
					    <ul class="pcoded-submenu">
					        <li><a href="#">Compose</a></li>
					        <li><a href="#">Read</a></li>
							<li><a href="#">Mailbox</a></li>
					    </ul>
					</li>
					<li class="nav-item">
					    <a href="/calender.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-sidebar"></i></span><span class="pcoded-mtext">Calender</span></a>
					</li>
					<li class="nav-item">
					    <a href="/about-us" class="nav-link "><span class="pcoded-micon"><i class="feather icon-map"></i></span><span class="pcoded-mtext">About Us</span></a>
					</li>
				</div>
				
			</div>
		</div>

	</nav>
    <!-- [ navigation menu ] end -->

	

