{% extends "layouts/base.html" %}

{% block title %} Location page {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	
<!-- Content Wrapper. Contains page content -->
<br></br>
<br></br>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>GHL Location</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Location Table</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <!-- /.card -->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Location</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Id</th>
                    <th>date Added</th>
                    <th>Location Id</th>
                    <th>Email</th>
                    <th>Country</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>ocQHyuzHvysMo5N5VsXc</td>
                    <td>2021-10-29T09:31:30.255Z</td>
                    <td>C2QujeCh8ZnC7al2InWR</td>
                    <td>rimsha@sublime.org</td>
                    <td>Canada</td>
                  </tr>
                  <tr>
                    <td>ocQHyuzHvysMo5N5VsXc</td>
                    <td>2021-10-29T09:31:30.255Z</td>
                    <td>C2QujeCh8ZnC7al2InWR</td>
                    <td>aliraza@sublime.org</td>
                    <td>Canada</td>
                  </tr>
                  <tr>
                    <td>ocQHyuzHvysMo5N5VsXc</td>
                    <td>2021-10-29T09:31:30.255Z</td>
                    <td>C2QujeCh8ZnC7al2InWR</td>
                    <td>Tanveer@sublime.org</td>
                    <td>Canada</td>
                  </tr>
                  <tr>
                    <td>ocQHyuzHvysMo5N5VsXc</td>
                    <td>2021-10-29T09:31:30.255Z</td>
                    <td>C2QujeCh8ZnC7al2InWR</td>
                    <td>rimsha@sublime.org</td>
                    <td>Canada</td>
                  </tr>
                  <tr>
                    <td>ocQHyuzHvysMo5N5VsXc</td>
                    <td>2021-10-29T09:31:30.255Z</td>
                    <td>C2QujeCh8ZnC7al2InWR</td>
                    <td>rimsha@sublime.org</td>
                    <td>Canada</td>
                  </tr>
                  <tr>
                    <td>ocQHyuzHvysMo5N5VsXc</td>
                    <td>2021-10-29T09:31:30.255Z</td>
                    <td>C2QujeCh8ZnC7al2InWR</td>
                    <td>rimsha@sublime.org</td>
                    <td>Canada</td>
                  </tr>
                  <tr>
                    <td>ocQHyuzHvysMo5N5VsXc</td>
                    <td>2021-10-29T09:31:30.255Z</td>
                    <td>C2QujeCh8ZnC7al2InWR</td>
                    <td>rimsha@sublime.org</td>
                    <td>Canada</td>
                  </tr>
                  <tr>
                    <td>ocQHyuzHvysMo5N5VsXc</td>
                    <td>2021-10-29T09:31:30.255Z</td>
                    <td>C2QujeCh8ZnC7al2InWR</td>
                    <td>rimsha@sublime.org</td>
                    <td>Canada</td>
                  </tr>
                  <tr>
                    <td>ocQHyuzHvysMo5N5VsXc</td>
                    <td>2021-10-29T09:31:30.255Z</td>
                    <td>C2QujeCh8ZnC7al2InWR</td>
                    <td>rimsha@sublime.org</td>
                    <td>Canada</td>
                  </tr>
                  <tr>
                    <td>ocQHyuzHvysMo5N5VsXc</td>
                    <td>2021-10-29T09:31:30.255Z</td>
                    <td>C2QujeCh8ZnC7al2InWR</td>
                    <td>rimsha@sublime.org</td>
                    <td>Canada</td>
                  </tr>
                  <tr>
                    <td>ocQHyuzHvysMo5N5VsXc</td>
                    <td>2021-10-29T09:31:30.255Z</td>
                    <td>C2QujeCh8ZnC7al2InWR</td>
                    <td>rimsha@sublime.org</td>
                    <td>Canada</td>
                  </tr>
                  <tr>
                    <td>ocQHyuzHvysMo5N5VsXc</td>
                    <td>2021-10-29T09:31:30.255Z</td>
                    <td>C2QujeCh8ZnC7al2InWR</td>
                    <td>rimsha@sublime.org</td>
                    <td>Canada</td>
                  </tr>
                  <tr>
                    <td>ocQHyuzHvysMo5N5VsXc</td>
                    <td>2021-10-29T09:31:30.255Z</td>
                    <td>C2QujeCh8ZnC7al2InWR</td>
                    <td>rimsha@sublime.org</td>
                    <td>Canada</td>
                  </tr>
                  <tr>
                    <td>ocQHyuzHvysMo5N5VsXc</td>
                    <td>2021-10-29T09:31:30.255Z</td>
                    <td>C2QujeCh8ZnC7al2InWR</td>
                    <td>rimsha@sublime.org</td>
                    <td>Canada</td>
                  </tr>
                  <tr>
                    <td>ocQHyuzHvysMo5N5VsXc</td>
                    <td>2021-10-29T09:31:30.255Z</td>
                    <td>C2QujeCh8ZnC7al2InWR</td>
                    <td>rimsha@sublime.org</td>
                    <td>Canada</td>
                  </tr>
                  <tr>
                    <td>ocQHyuzHvysMo5N5VsXc</td>
                    <td>2021-10-29T09:31:30.255Z</td>
                    <td>C2QujeCh8ZnC7al2InWR</td>
                    <td>rimsha@sublime.org</td>
                    <td>Canada</td>
                  </tr>
                  <tr>
                    <td>ocQHyuzHvysMo5N5VsXc</td>
                    <td>2021-10-29T09:31:30.255Z</td>
                    <td>C2QujeCh8ZnC7al2InWR</td>
                    <td>rimsha@sublime.org</td>
                    <td>Canada</td>
                  </tr>
                  <tr>
                    <td>ocQHyuzHvysMo5N5VsXc</td>
                    <td>2021-10-29T09:31:30.255Z</td>
                    <td>C2QujeCh8ZnC7al2InWR</td>
                    <td>rimsha@sublime.org</td>
                    <td>Canada</td>
                  </tr>
                  <tr>
                    <td>ocQHyuzHvysMo5N5VsXc</td>
                    <td>2021-10-29T09:31:30.255Z</td>
                    <td>C2QujeCh8ZnC7al2InWR</td>
                    <td>rimsha@sublime.org</td>
                    <td>Canada</td>
                  </tr>
                  <tr>
                    <td>ocQHyuzHvysMo5N5VsXc</td>
                    <td>2021-10-29T09:31:30.255Z</td>
                    <td>C2QujeCh8ZnC7al2InWR</td>
                    <td>rimsha@sublime.org</td>
                    <td>Canada</td>
                  </tr>
                  <tr>
                    <td>ocQHyuzHvysMo5N5VsXc</td>
                    <td>2021-10-29T09:31:30.255Z</td>
                    <td>C2QujeCh8ZnC7al2InWR</td>
                    <td>rimsha@sublime.org</td>
                    <td>Canada</td>
                  </tr>
                  <tr>
                    <td>ocQHyuzHvysMo5N5VsXc</td>
                    <td>2021-10-29T09:31:30.255Z</td>
                    <td>C2QujeCh8ZnC7al2InWR</td>
                    <td>rimsha@sublime.org</td>
                    <td>Canada</td>
                  </tr>
                  <tr>
                    <td>ocQHyuzHvysMo5N5VsXc</td>
                    <td>2021-10-29T09:31:30.255Z</td>
                    <td>C2QujeCh8ZnC7al2InWR</td>
                    <td>rimsha@sublime.org</td>
                    <td>Canada</td>
                  </tr>
                  <tr>
                    <td>ocQHyuzHvysMo5N5VsXc</td>
                    <td>2021-10-29T09:31:30.255Z</td>
                    <td>C2QujeCh8ZnC7al2InWR</td>
                    <td>rimsha@sublime.org</td>
                    <td>Canada</td>
                  </tr>
                  <tr>
                    <td>ocQHyuzHvysMo5N5VsXc</td>
                    <td>2021-10-29T09:31:30.255Z</td>
                    <td>C2QujeCh8ZnC7al2InWR</td>
                    <td>rimsha@sublime.org</td>
                    <td>Canada</td>
                  </tr>
                  <tr>
                    <td>ocQHyuzHvysMo5N5VsXc</td>
                    <td>2021-10-29T09:31:30.255Z</td>
                    <td>C2QujeCh8ZnC7al2InWR</td>
                    <td>rimsha@sublime.org</td>
                    <td>Canada</td>
                  </tr>
                  <tr>
                    <td>ocQHyuzHvysMo5N5VsXc</td>
                    <td>2021-10-29T09:31:30.255Z</td>
                    <td>C2QujeCh8ZnC7al2InWR</td>
                    <td>rimsha@sublime.org</td>
                    <td>Canada</td>
                  </tr>
                  <tr>
                    <td>ocQHyuzHvysMo5N5VsXc</td>
                    <td>2021-10-29T09:31:30.255Z</td>
                    <td>C2QujeCh8ZnC7al2InWR</td>
                    <td>rimsha@sublime.org</td>
                    <td>Canada</td>
                  </tr>
                  <tr>
                    <td>ocQHyuzHvysMo5N5VsXc</td>
                    <td>2021-10-29T09:31:30.255Z</td>
                    <td>C2QujeCh8ZnC7al2InWR</td>
                    <td>rimsha@sublime.org</td>
                    <td>Canada</td>
                  </tr>
                  <tr>
                    <td>ocQHyuzHvysMo5N5VsXc</td>
                    <td>2021-10-29T09:31:30.255Z</td>
                    <td>C2QujeCh8ZnC7al2InWR</td>
                    <td>rimsha@sublime.org</td>
                    <td>Canada</td>
                  </tr>
                  <tr>
                    <td>ocQHyuzHvysMo5N5VsXc</td>
                    <td>2021-10-29T09:31:30.255Z</td>
                    <td>C2QujeCh8ZnC7al2InWR</td>
                    <td>rimsha@sublime.org</td>
                    <td>Canada</td>
                  </tr>
                  <tr>
                    <td>ocQHyuzHvysMo5N5VsXc</td>
                    <td>2021-10-29T09:31:30.255Z</td>
                    <td>C2QujeCh8ZnC7al2InWR</td>
                    <td>rimsha@sublime.org</td>
                    <td>Canada</td>
                  </tr>
                  <tr>
                    <td>ocQHyuzHvysMo5N5VsXc</td>
                    <td>2021-10-29T09:31:30.255Z</td>
                    <td>C2QujeCh8ZnC7al2InWR</td>
                    <td>rimsha@sublime.org</td>
                    <td>Canada</td>
                  </tr>
                  <tr>
                    <td>ocQHyuzHvysMo5N5VsXc</td>
                    <td>2021-10-29T09:31:30.255Z</td>
                    <td>C2QujeCh8ZnC7al2InWR</td>
                    <td>Tanveer@sublime.org</td>
                    <td>America</td>
                  </tr>
                  <tr>
                    <td>ocQHyuzHvysMo5N5VsXc</td>
                    <td>2021-10-29T09:31:30.255Z</td>
                    <td>C2QujeCh8ZnC7al2InWR</td>
                    <td>Tanveer@sublime.org</td>
                    <td>America</td>
                  </tr>
                  <tr>
                    <td>ocQHyuzHvysMo5N5VsXc</td>
                    <td>2021-10-29T09:31:30.255Z</td>
                    <td>C2QujeCh8ZnC7al2InWR</td>
                    <td>Tanveer@sublime.org</td>
                    <td>America</td>
                  </tr>
                  <tr>
                    <td>ocQHyuzHvysMo5N5VsXc</td>
                    <td>2021-10-29T09:31:30.255Z</td>
                    <td>C2QujeCh8ZnC7al2InWR</td>
                    <td>Tanveer@sublime.org</td>
                    <td>America</td>
                  </tr>
                  <tr>
                    <td>ocQHyuzHvysMo5N5VsXc</td>
                    <td>2021-10-29T09:31:30.255Z</td>
                    <td>C2QujeCh8ZnC7al2InWR</td>
                    <td>Tanveer@sublime.org</td>
                    <td>America</td>
                  </tr>
                  <tr>
                    <td>ocQHyuzHvysMo5N5VsXc</td>
                    <td>2021-10-29T09:31:30.255Z</td>
                    <td>C2QujeCh8ZnC7al2InWR</td>
                    <td>Tanveer@sublime.org</td>
                    <td>America</td>
                  </tr>
                  <tr>
                    <td>ocQHyuzHvysMo5N5VsXc</td>
                    <td>2021-10-29T09:31:30.255Z</td>
                    <td>C2QujeCh8ZnC7al2InWR</td>
                    <td>Tanveer@sublime.org</td>
                    <td>America</td>
                  </tr>
                  <tr>
                    <td>ocQHyuzHvysMo5N5VsXc</td>
                    <td>2021-10-29T09:31:30.255Z</td>
                    <td>C2QujeCh8ZnC7al2InWR</td>
                    <td>Tanveer@sublime.org</td>
                    <td>America</td>
                  </tr>
                  <tr>
                    <td>ocQHyuzHvysMo5N5VsXc</td>
                    <td>2021-10-29T09:31:30.255Z</td>
                    <td>C2QujeCh8ZnC7al2InWR</td>
                    <td>Tanveer@sublime.org</td>
                    <td>America</td>
                  </tr>
                  <tr>
                    <td>ocQHyuzHvysMo5N5VsXc</td>
                    <td>2021-10-29T09:31:30.255Z</td>
                    <td>C2QujeCh8ZnC7al2InWR</td>
                    <td>Tanveer@sublime.org</td>
                    <td>America</td>
                  </tr>
                  <tr>
                    <td>ocQHyuzHvysMo5N5VsXc</td>
                    <td>2021-10-29T09:31:30.255Z</td>
                    <td>C2QujeCh8ZnC7al2InWR</td>
                    <td>aliraza@sublime.org</td>
                    <td>Dubai</td>
                  </tr>
                  <tr>
                    <td>ocQHyuzHvysMo5N5VsXc</td>
                    <td>2021-10-29T09:31:30.255Z</td>
                    <td>C2QujeCh8ZnC7al2InWR</td>
                    <td>aliraza@sublime.org</td>
                    <td>Dubai</td>
                  </tr>
                  <tr>
                    <td>ocQHyuzHvysMo5N5VsXc</td>
                    <td>2021-10-29T09:31:30.255Z</td>
                    <td>C2QujeCh8ZnC7al2InWR</td>
                    <td>aliraza@sublime.org</td>
                    <td>Dubai</td>
                  </tr>
                  <tr>
                    <td>ocQHyuzHvysMo5N5VsXc</td>
                    <td>2021-10-29T09:31:30.255Z</td>
                    <td>C2QujeCh8ZnC7al2InWR</td>
                    <td>aliraza@sublime.org</td>
                    <td>Dubai</td>
                  </tr>
                  <tr>
                    <td>ocQHyuzHvysMo5N5VsXc</td>
                    <td>2021-10-29T09:31:30.255Z</td>
                    <td>C2QujeCh8ZnC7al2InWR</td>
                    <td>aliraza@sublime.org</td>
                    <td>Dubai</td>
                  </tr>
                  <tr>
                    <td>ocQHyuzHvysMo5N5VsXc</td>
                    <td>2021-10-29T09:31:30.255Z</td>
                    <td>C2QujeCh8ZnC7al2InWR</td>
                    <td>aliraza@sublime.org</td>
                    <td>Dubai</td>
                  </tr>
                  <tr>
                    <td>ocQHyuzHvysMo5N5VsXc</td>
                    <td>2021-10-29T09:31:30.255Z</td>
                    <td>C2QujeCh8ZnC7al2InWR</td>
                    <td>rimsha@sublime.org</td>
                    <td>Canada</td>
                  </tr>
                  <tr>
                    <td>ocQHyuzHvysMo5N5VsXc</td>
                    <td>2021-10-29T09:31:30.255Z</td>
                    <td>C2QujeCh8ZnC7al2InWR</td>
                    <td>rimsha@sublime.org</td>
                    <td>Canada</td>
                  </tr>
                  <tr>
                    <td>ocQHyuzHvysMo5N5VsXc</td>
                    <td>2021-10-29T09:31:30.255Z</td>
                    <td>C2QujeCh8ZnC7al2InWR</td>
                    <td>rimsha@sublime.org</td>
                    <td>Canada</td>
                  </tr>
                  <tr>
                    <td>ocQHyuzHvysMo5N5VsXc</td>
                    <td>2021-10-29T09:31:30.255Z</td>
                    <td>C2QujeCh8ZnC7al2InWR</td>
                    <td>rimsha@sublime.org</td>
                    <td>Canada</td>
                  </tr>
                  <tr>
                    <td>ocQHyuzHvysMo5N5VsXc</td>
                    <td>2021-10-29T09:31:30.255Z</td>
                    <td>C2QujeCh8ZnC7al2InWR</td>
                    <td>rimsha@sublime.org</td>
                    <td>Canada</td>
                  </tr>
                  <tr>
                    <td>ocQHyuzHvysMo5N5VsXc</td>
                    <td>2021-10-29T09:31:30.255Z</td>
                    <td>C2QujeCh8ZnC7al2InWR</td>
                    <td>rimsha@sublime.org</td>
                    <td>Canada</td>
                  </tr>
                  <tr>
                    <td>ocQHyuzHvysMo5N5VsXc</td>
                    <td>2021-10-29T09:31:30.255Z</td>
                    <td>C2QujeCh8ZnC7al2InWR</td>
                    <td>rimsha@sublime.org</td>
                    <td>Canada</td>
                  </tr>
                  <tr>
                    <td>ocQHyuzHvysMo5N5VsXc</td>
                    <td>2021-10-29T09:31:30.255Z</td>
                    <td>C2QujeCh8ZnC7al2InWR</td>
                    <td>rimsha@sublime.org</td>
                    <td>Canada</td>
                  </tr>
                  </tbody>
                  <tfoot>
                  <tr>
                    <th>Id</th>
                    <th>date Added</th>
                    <th>Location Id</th>
                    <th>Email</th>
                    <th>Country</th>
                  </tr>
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->






{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}