{% extends "layouts/base.html" %}

{% block title %} GHL WorkFlow {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	
<!-- Content Wrapper. Contains page content -->
<br></br>
<br></br>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>GHL WorkFlow</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">WorkFlow</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <!-- /.card -->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">WorkFlow</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>createdAT</th>
                    <th>updatedAt</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>78559bb3-b920-461e-b010-7b2a2816d2a9</td>
                    <td>First Workflow</td>
                    <td>draft</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                  </tr>
                  <tr>
                    <td>78559bb3-b920-461e-b010-7b2a2816d2a9</td>
                    <td>Second Workflow</td>
                    <td>In Progress</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                  </tr>
                  <tr>
                    <td>78559bb3-b920-461e-b010-7b2a2816d2a9</td>
                    <td>Third Workflow</td>
                    <td>To Do</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                  </tr>
                  <tr>
                    <td>78559bb3-b920-461e-b010-7b2a2816d2a9</td>
                    <td>Fourth Workflow</td>
                    <td>Ready</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                  </tr>
                  <tr>
                    <td>78559bb3-b920-461e-b010-7b2a2816d2a9</td>
                    <td>First Workflow</td>
                    <td>draft</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                  </tr>
                  <tr>
                    <td>78559bb3-b920-461e-b010-7b2a2816d2a9</td>
                    <td>Second Workflow</td>
                    <td>In Progress</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                  </tr>
                  <tr>
                    <td>78559bb3-b920-461e-b010-7b2a2816d2a9</td>
                    <td>Third Workflow</td>
                    <td>To Do</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                  </tr>
                  <tr>
                    <td>78559bb3-b920-461e-b010-7b2a2816d2a9</td>
                    <td>Fourth Workflow</td>
                    <td>Ready</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                  </tr>
                  <tr>
                    <td>78559bb3-b920-461e-b010-7b2a2816d2a9</td>
                    <td>First Workflow</td>
                    <td>draft</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                  </tr>
                  <tr>
                    <td>78559bb3-b920-461e-b010-7b2a2816d2a9</td>
                    <td>Second Workflow</td>
                    <td>In Progress</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                  </tr>
                  <tr>
                    <td>78559bb3-b920-461e-b010-7b2a2816d2a9</td>
                    <td>Third Workflow</td>
                    <td>To Do</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                  </tr>
                  <tr>
                    <td>78559bb3-b920-461e-b010-7b2a2816d2a9</td>
                    <td>Fourth Workflow</td>
                    <td>Ready</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                  </tr>
                  <tr>
                    <td>78559bb3-b920-461e-b010-7b2a2816d2a9</td>
                    <td>First Workflow</td>
                    <td>draft</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                  </tr>
                  <tr>
                    <td>78559bb3-b920-461e-b010-7b2a2816d2a9</td>
                    <td>Second Workflow</td>
                    <td>In Progress</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                  </tr>
                  <tr>
                    <td>78559bb3-b920-461e-b010-7b2a2816d2a9</td>
                    <td>Third Workflow</td>
                    <td>To Do</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                  </tr>
                  <tr>
                    <td>78559bb3-b920-461e-b010-7b2a2816d2a9</td>
                    <td>Fourth Workflow</td>
                    <td>Ready</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                  </tr>
                  <tr>
                    <td>78559bb3-b920-461e-b010-7b2a2816d2a9</td>
                    <td>First Workflow</td>
                    <td>draft</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                  </tr>
                  <tr>
                    <td>78559bb3-b920-461e-b010-7b2a2816d2a9</td>
                    <td>Second Workflow</td>
                    <td>In Progress</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                  </tr>
                  <tr>
                    <td>78559bb3-b920-461e-b010-7b2a2816d2a9</td>
                    <td>Third Workflow</td>
                    <td>To Do</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                  </tr>
                  <tr>
                    <td>78559bb3-b920-461e-b010-7b2a2816d2a9</td>
                    <td>Fourth Workflow</td>
                    <td>Ready</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                  </tr>
                  <tr>
                    <td>78559bb3-b920-461e-b010-7b2a2816d2a9</td>
                    <td>First Workflow</td>
                    <td>draft</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                  </tr>
                  <tr>
                    <td>78559bb3-b920-461e-b010-7b2a2816d2a9</td>
                    <td>Second Workflow</td>
                    <td>In Progress</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                  </tr>
                  <tr>
                    <td>78559bb3-b920-461e-b010-7b2a2816d2a9</td>
                    <td>Third Workflow</td>
                    <td>To Do</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                  </tr>
                  <tr>
                    <td>78559bb3-b920-461e-b010-7b2a2816d2a9</td>
                    <td>Fourth Workflow</td>
                    <td>Ready</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                  </tr>
                  <tr>
                    <td>78559bb3-b920-461e-b010-7b2a2816d2a9</td>
                    <td>First Workflow</td>
                    <td>draft</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                  </tr>
                  <tr>
                    <td>78559bb3-b920-461e-b010-7b2a2816d2a9</td>
                    <td>Second Workflow</td>
                    <td>In Progress</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                  </tr>
                  <tr>
                    <td>78559bb3-b920-461e-b010-7b2a2816d2a9</td>
                    <td>Third Workflow</td>
                    <td>To Do</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                  </tr>
                  <tr>
                    <td>78559bb3-b920-461e-b010-7b2a2816d2a9</td>
                    <td>Fourth Workflow</td>
                    <td>Ready</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                  </tr>
                  <tr>
                    <td>78559bb3-b920-461e-b010-7b2a2816d2a9</td>
                    <td>First Workflow</td>
                    <td>draft</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                  </tr>
                  <tr>
                    <td>78559bb3-b920-461e-b010-7b2a2816d2a9</td>
                    <td>Second Workflow</td>
                    <td>In Progress</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                  </tr>
                  <tr>
                    <td>78559bb3-b920-461e-b010-7b2a2816d2a9</td>
                    <td>Third Workflow</td>
                    <td>To Do</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                  </tr>
                  <tr>
                    <td>78559bb3-b920-461e-b010-7b2a2816d2a9</td>
                    <td>Fourth Workflow</td>
                    <td>Ready</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                  </tr>
                  <tr>
                    <td>78559bb3-b920-461e-b010-7b2a2816d2a9</td>
                    <td>First Workflow</td>
                    <td>draft</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                  </tr>
                  <tr>
                    <td>78559bb3-b920-461e-b010-7b2a2816d2a9</td>
                    <td>Second Workflow</td>
                    <td>In Progress</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                  </tr>
                  <tr>
                    <td>78559bb3-b920-461e-b010-7b2a2816d2a9</td>
                    <td>Third Workflow</td>
                    <td>To Do</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                  </tr>
                  <tr>
                    <td>78559bb3-b920-461e-b010-7b2a2816d2a9</td>
                    <td>Fourth Workflow</td>
                    <td>Ready</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                  </tr>
                  <tr>
                    <td>78559bb3-b920-461e-b010-7b2a2816d2a9</td>
                    <td>First Workflow</td>
                    <td>draft</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                  </tr>
                  <tr>
                    <td>78559bb3-b920-461e-b010-7b2a2816d2a9</td>
                    <td>Second Workflow</td>
                    <td>In Progress</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                  </tr>
                  <tr>
                    <td>78559bb3-b920-461e-b010-7b2a2816d2a9</td>
                    <td>Third Workflow</td>
                    <td>To Do</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                  </tr>
                  <tr>
                    <td>78559bb3-b920-461e-b010-7b2a2816d2a9</td>
                    <td>Fourth Workflow</td>
                    <td>Ready</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                  </tr>
                  <tr>
                    <td>78559bb3-b920-461e-b010-7b2a2816d2a9</td>
                    <td>First Workflow</td>
                    <td>draft</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                  </tr>
                  <tr>
                    <td>78559bb3-b920-461e-b010-7b2a2816d2a9</td>
                    <td>Second Workflow</td>
                    <td>In Progress</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                  </tr>
                  <tr>
                    <td>78559bb3-b920-461e-b010-7b2a2816d2a9</td>
                    <td>Third Workflow</td>
                    <td>To Do</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                  </tr>
                  <tr>
                    <td>78559bb3-b920-461e-b010-7b2a2816d2a9</td>
                    <td>Fourth Workflow</td>
                    <td>Ready</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                  </tr>
                  <tr>
                    <td>78559bb3-b920-461e-b010-7b2a2816d2a9</td>
                    <td>First Workflow</td>
                    <td>draft</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                  </tr>
                  <tr>
                    <td>78559bb3-b920-461e-b010-7b2a2816d2a9</td>
                    <td>Second Workflow</td>
                    <td>In Progress</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                  </tr>
                  <tr>
                    <td>78559bb3-b920-461e-b010-7b2a2816d2a9</td>
                    <td>Third Workflow</td>
                    <td>To Do</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                  </tr>
                  <tr>
                    <td>78559bb3-b920-461e-b010-7b2a2816d2a9</td>
                    <td>Fourth Workflow</td>
                    <td>Ready</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                  </tr>
                  <tr>
                    <td>78559bb3-b920-461e-b010-7b2a2816d2a9</td>
                    <td>First Workflow</td>
                    <td>draft</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                  </tr>
                  <tr>
                    <td>78559bb3-b920-461e-b010-7b2a2816d2a9</td>
                    <td>Second Workflow</td>
                    <td>In Progress</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                  </tr>
                  <tr>
                    <td>78559bb3-b920-461e-b010-7b2a2816d2a9</td>
                    <td>Third Workflow</td>
                    <td>To Do</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                  </tr>
                  <tr>
                    <td>78559bb3-b920-461e-b010-7b2a2816d2a9</td>
                    <td>Fourth Workflow</td>
                    <td>Ready</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                  </tr>
                  <tr>
                    <td>78559bb3-b920-461e-b010-7b2a2816d2a9</td>
                    <td>First Workflow</td>
                    <td>draft</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                  </tr>
                  <tr>
                    <td>78559bb3-b920-461e-b010-7b2a2816d2a9</td>
                    <td>Second Workflow</td>
                    <td>In Progress</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                  </tr>
                  <tr>
                    <td>78559bb3-b920-461e-b010-7b2a2816d2a9</td>
                    <td>Third Workflow</td>
                    <td>To Do</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                  </tr>
                  <tr>
                    <td>78559bb3-b920-461e-b010-7b2a2816d2a9</td>
                    <td>Fourth Workflow</td>
                    <td>Ready</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                  </tr>
                  <tr>
                    <td>78559bb3-b920-461e-b010-7b2a2816d2a9</td>
                    <td>First Workflow</td>
                    <td>draft</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                  </tr>
                  <tr>
                    <td>78559bb3-b920-461e-b010-7b2a2816d2a9</td>
                    <td>Second Workflow</td>
                    <td>In Progress</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                    <td>2021-05-26T11:33:49.000Z</td>
                  </tr>
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->






{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}