 {% extends "layouts/base.html" %}

{% block title %} FB AD'S {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<!-- Bootstrap css -->
<link rel="stylesheet" href="http://bootstrap.gallery/skyline/css/bootstrap.min.css">
<!-- Icomoon Font Icons css -->
<link rel="stylesheet" href="http://bootstrap.gallery/skyline/fonts/style.css">
<!-- Main css -->
<link rel="stylesheet" href="http://bootstrap.gallery/skyline/css/main.css">
<!-- Specific CSS goes HERE -->
{% endblock stylesheets %}

{% block content %}	
	
<div class="pcoded-main-container">
	<div class="pcoded-content">
			<!-- Page header start -->
			<div class="page-header" style="margin-top: 0.1cm;">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">Home</li>
					<li class="breadcrumb-item active">FB Ad's Set</li>
				</ol>

				
			</div>
			<!-- Page header end -->
					<!-- Row start --> 
					<div class="row">
						<div class="col-md-6 col-xl-3">
							<div class="card">
								<div class="card-body">
									<div class="row align-items-center">
										<div class="col-6">
											<h5 class="text-muted fw-normal mt-0 text-truncate" title="Campaign Sent">Total Ad's</h5>
											<h3 class="my-2 py-1">230</h3>
											<p class="mb-0 text-muted">
												<span class="text-success me-2"><i class="mdi mdi-arrow-up-bold"></i> </span>
											</p>
										</div>
							
									</div> <!-- end row-->
								</div> <!-- end card-body -->
							</div> <!-- end card -->
						</div> <!-- end col -->
         
						<div class="col-md-6 col-xl-3">
							<div class="card">
								<div class="card-body">
									<div class="row align-items-center">
										<div class="col-6">
											<h5 class="text-muted fw-normal mt-0 text-truncate" title="New Leads">Total Clicks</h5>
											<h3 class="my-2 py-1">470</h3>
											<p class="mb-0 text-muted">
												<span class="text-danger me-2"><i class="mdi mdi-arrow-down-bold"></i> </span>
											</p>
										</div>
										<div class="col-6">
											<div class="text-end">
												<div id="new-leads-chart" data-colors="#42d29d"></div>
											</div>
										</div>
									</div> <!-- end row-->
								</div> <!-- end card-body -->
							</div> <!-- end card -->
						</div> <!-- end col -->
					
						<div class="col-md-6 col-xl-3">
							<div class="card">
								<div class="card-body">
									<div class="row align-items-center">
										<div class="col-6">
											<h5 class="text-muted fw-normal mt-0 text-truncate" title="Deals">Total Spent</h5>
											<h3 class="my-2 py-1">$4,970.49</h3>
											<p class="mb-0 text-muted">
												<span class="text-success me-2"><i class="mdi mdi-arrow-up-bold"></i> </span>
											</p>
										</div>
										<div class="col-6">
											<div class="text-end">
												<div id="deals-chart" data-colors="#3688fc"></div>
											</div>
										</div>
									</div> <!-- end row-->
								</div> <!-- end card-body -->
							</div> <!-- end card -->
						</div> <!-- end col -->
					
						<div class="col-md-6 col-xl-3">
							<div class="card">
								<div class="card-body">
									<div class="row align-items-center">
										<div class="col-6">
											<h5 class="text-muted fw-normal mt-0 text-truncate" title="Booked Revenue">CPC(All)</h5>
											<h3 class="my-2 py-1">$0.08</h3>
											<p class="mb-0 text-muted">
												<span class="text-success me-2"><i class="mdi mdi-arrow-up-bold"></i> </span>
											</p>
										</div>
										<div class="col-6">
											<div class="text-end">
												<div id="booked-revenue-chart" data-colors="#42d29d"></div>
											</div>
										</div>
									</div> <!-- end row-->
								</div> <!-- end card-body -->
							</div> <!-- end card -->
						</div> <!-- end col -->
					</div>

                    <!--Second Row End-->
					<!-- Row start -->
          <div class="row">
             <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5>Traffic</h5>
                </div>
                <div class="card-body">
                    <div id="line-chart-1"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <!-- <h5>Realtime Chart</h5> -->
                    <h5>Impressions</h5>
                </div>
                <div class="card-body">
                    <div id="line-chart-2"></div>
                </div>
            </div>
        </div>
        </div>
					<!-- Row end -->
				</div>
				<!-- Main container end -->

			</div>
			<!-- Page content end -->

		</div>
		<!-- Page wrapper end -->
    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container" style="margin-top: -3.3cm;">
        <div class="pcoded-content" >
            <div class="row"> 
                <!-- users visite start -->
                <div class="col-md-12 col-xl-12" style="margin: auto;">
                    <div class="card">
                        <div class="row align-items-center text-center">
                            <div class="col-md-12">
                                <div class="card-body">
                                    <h4 class="mb-3 f-w-400">
                                        Facebook Campagins
                                    </h4>
                                    <!-- dummy spacer -->
                                    <p> <br /> </p>						
                                    <table class="table table-responsive">
                                        <thead>
                                          <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Account id</th>
                                            <th scope="col">Campagin Name</th>
                                            <th scope="col">Bid Startegy</th>
                                            <th scope="col">Budget Remaining</th>
                                            <th scope="col">Buying Type</th>
                                            <th scope="col">Objective</th>
                                            <th scope="col">Pacing Type</th>
                                            <th scope="col">Smart Promotion Type</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Start Time</th>
                                            <th scope="col">End Time</th>

                                          </tr>
                                        </thead>
                                        <tbody>
                                            {%for item in data%}
                                          <tr>
                                            <th scope="row">{{item.id}}</th>
                                            <td>{{item.account_id}}</td>
                                            <td>{{item.name}}</td>
                                            <td>{{item.bid_strategy}}</td>
                                            <td>{{item.budget_remaining}}</td>
                                            <td>{{item.buying_type}}</td>
                                            <td>{{item.objective}}</td>
                                            <td>{{item.pacing_type}}</td>
                                            <td>{{item.smart_promotion_type}}</td>
                                            <td>{{item.status}}</td>
                                            <td>{{item.start_time}}</td>
                                            <td>{{item.end_time}}</td>

                                          </tr>
                                          {%endfor%}
                                        </tbody>
                                      </table>
        
                                    <!-- <p class="mb-0 text-muted">Don’t have an account? <a href="{{ url_for('authentication_blueprint.register') }}" class="f-w-400">Signup</a></p> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ Main Content ] end -->
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- Apex Chart -->
<script src="/static/assets/js/plugins/apexcharts.min.js"></script>
<!-- custom-chart js -->
<script src="/static/assets/js/pages/dashboard-main.js"></script>
	 <!-- Required jQuery first, then Bootstrap Bundle JS -->
	 <script src="js/jquery.min.js"></script>
	 <script src="js/bootstrap.bundle.min.js"></script>
	 <script src="js/moment.js"></script>


	 <!-- *************
		 ************ Vendor Js Files *************
	 ************* -->
	 <!-- Slimscroll JS -->
	 <script src="http://bootstrap.gallery/skyline/vendor/slimscroll/slimscroll.min.js"></script>
	 <script src="http://bootstrap.gallery/skyline/vendor/slimscroll/custom-scrollbar.js"></script>

	 <!-- Daterange -->
	 <script src="http://bootstrap.gallery/skyline/vendor/daterange/daterange.js"></script>
	 <script src="http://bootstrap.gallery/skyline/vendor/daterange/custom-daterange.js"></script>

	 <!-- Polyfill JS -->
	 <script src="http://bootstrap.gallery/skyline/vendor/polyfill/polyfill.min.js"></script>

	 <!-- Apex Charts -->
	 <script src="http://bootstrap.gallery/skyline/vendor/apex/apexcharts.min.js"></script>
	 <script src="http://bootstrap.gallery/skyline/vendor/apex/admin/visitors.js"></script>
	 <script src="http://bootstrap.gallery/skyline/vendor/apex/admin/deals.js"></script>
	 <script src="http://bootstrap.gallery/skyline/vendor/apex/admin/income.js"></script>
	 <script src="http://bootstrap.gallery/skyline/vendor/apex/admin/customers.js"></script>

	 <!-- Main JS -->
	 <script src="js/main.js"></script>
	 
 <script src="/static/assets/js/plugins/apexcharts.min.js"></script>
 <script src="/static/assets/js/pages/chart-apex.js"></script>



{% endblock javascripts %}
